.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-image: url(https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/stardewbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img{
  align-self: center;
  width: 30%;
}

.App-header p{
  align-self: center;
  color:darkgray
}

.App-title {
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

.submit-button {
  align-self: center;
  max-width: 40%;
  width: 30%;
  right: 20%;
  height: 28px;
}

.output-div {
  align-self: center;
  width: 80%;
  height: 80%;
}
