.dropdown-container {
    align-items: center;
    align-self: center;
    display: inline-block;
    margin-bottom: 20px;
    width: 40%;
}

.weather-label {
    width: 30%;
    float: left;
}

.weather-dropdown {
    height: 28px;
    width: 70%;
    float: right;
}

.Weather-container {
    align-items: center;
    display: flex;
    margin: 10px;
}

.season-dropdown {
    height: 28px;
    width: 70%;
    float: right;
}

.season-label {
    width: 30%;
}

.Season-container {
    margin-bottom: 20px;
}